<div id="login-content" class "row">
	<h3>Log In</h3>
	<div id="login-form" class="large-8 large-offset-2 columns">
		<!-- needs to send to sessions#create not users#create -->
		<%= form_for(:user, :url => {:controller => 'sessions', :action => 'create'}) do |f| %>
		  <div class="row">
		  	<div class="large-12 columns">
		      <%= f.label :email %><br />
		      <%= f.text_field :email %>
		  	</div>
		  </div>
		  <div class="row">
		  	<div class="large-12 columns">
		      <%= f.label :password %><br />
		      <%= f.password_field :password %>
		  	</div>
		  </div>
		  <ul class="button-group">
		  	<li><%= f.submit "Log in", class: "button" %></li>
		  	<li><%= link_to "Register", new_user_path, id: "registration-link", class: "button" %></li>
		  </ul>
		<% end %>
	</div>

</div>

