<div id="registration-content">
	<h3>Create New User:</h3>
	<div id="registration-form">
    <p>
    <%= form_for @user do |f| %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %><br/>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %><br/>

      <%= f.label :email %>
      <%= f.text_field :email %><br/>
    	
      <%= f.label :password %>
      <%= f.password_field :password %><br/>
    	
      <%= f.submit 'Register' %>
      <% end %>
  	</p>
	</div>
	<div id="send-to-registration">
	<%= link_to "cancel", root_path, id: "cancel-registration" %>
	</div>

</div>