<!-- profile page: shown after login -->
<%= link_to "Add Transaction", new_user_transaction_path(current_user) %>
<div id="profile-page-content">
	<h2>Welcome, <%= @user.first_name %> <%= @user.last_name %>.</h2>
	<h3>Transactions</h3>
	<div class="transactions-user-as-creditor">
		<ul class="transactions-list">
			<% @creditor_trans.each do |transaction| %>
			<li>You lent $<%= transaction.amount %>, to <%= transaction.debtor.first_name %> <%= transaction.debtor.last_name %>, for <%= transaction.description %></li>
			<% end %>
		</ul>
	</div>
	<div class="transactions-user-as-debitor">
		<ul class="transactions-list">
			<% @debtor_trans.each do |transaction| %>
			<li>You borrowed $<%= transaction.amount %>, from <%= transaction.creditor.first_name %> <%= transaction.creditor.last_name %>, for <%= transaction.description %></li>
			<% end %>
		</ul>
	</div>
</div>
