<!-- user profile page: shown after login -->
<div id="add-trans-link"><%= link_to "Add Transaction", new_user_transaction_path(@user) %></br></div>
<div id="create-square-up"><%= link_to "Create Square Up", "/users/#{@user.id}/groups", method: :post %></div>
<div id="profile-page-content">
	<h2>Welcome, <%= @user.first_name %> <%= @user.last_name %>.</h2>
	<h3>Transactions</h3>

  <div class group_transactions>
  <% @transactions.each do |transaction| %>
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <% if current_user == transaction.debtor %>
          <a href="#panel1">You owe <%= transaction.creditor.first_name %> <%= number_to_currency(transaction.amount) %> </a>
        <% else %>
          <a href="#panel1"><%= transaction.debtor.first_name %> owes You <%= number_to_currency(transaction.amount) %> </a>
        <% end %>
        <div id="panel1" class="content">
          <table>
            <thead>
              <tr>
                <th width="120">Borrower</th>
                <th width="120">Lender</th>
                <th width="80">Amount</th>
                <th width="200">Description</th>
                <th width="100">Status</th>
                <th width="100"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= transaction.debtor.first_name %> <%= transaction.debtor.last_name %></td>
                <td><%= transaction.creditor.first_name %> <%= transaction.creditor.last_name %></td>
                <td><%= number_to_currency(transaction.amount) %></td>
                <td><%= transaction.description %></td>
                <% if transaction.closed == true %>
                	<td>Paid</td>
                	<td></td>
                <% else %>
                	<td>Unpaid</td>
                	<td><%= link_to 'mark as paid', user_transaction_path(@user, transaction), method: :patch %></td>
                <% end %>
              </tr>
            </tbody>
          </table>
        </div>
      </dd>
    </dl>
  <% end %>
  </div>


