<!DOCTYPE html>
<html>
<head>
  <title>Mano</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		<div id="top-nav-bar">
			<%= link_to "logout", log_out_path %>
		</div>
	<% end %>
	<div id="content">
		<p class="flash"><%= flash.notice %></p>
	
		<%= yield %>
	</div>
</body>
</html>
