<!-- create new transaction -->
<p>New Transaction:</p>
<div ="add-transaction-form">
  <%= form_for [ current_user, @transaction ] do |f| %>
    <%= f.label :with %>
    <%= f.text_field :friend_email, placeholder: "friend's email" %>
    </br>
    <%= f.label :amount %>
    <%= f.text_field :amount, placeholder: "money" %>
    </br>
    <%= f.label :description %>
    <%= f.text_field :description, placeholder: "description" %>
    </br>
    <%= f.label :i_was_the_lender %>
    <%= f.radio_button "borrower", false %><br/>
    </br>
    <%= f.label :i_was_the_borrower %>
    <%= f.radio_button "borrower", true %><br/>
    </br>
    <%= f.label :private %>
    <%= f.check_box :private_trans %><br/>
    </br>
    <%= f.submit 'submit for approval' %>
  <% end %>
</div>
